<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

        <context:component-scan base-package="org.sotibob"/>


        <bean id="Address" class="org.sotibob.Address">
                <property name="street" value="1488 Devon Mill Way"/>
                <property name="city" value="Austell"/>
                <property name="state" value="GA"/>
                <property name="country" value="USA"/>
                <property name="zip" value="30168"/>
        </bean>

        <bean id="ph1" class="org.sotibob.Phone">
                <property name="mob" value="4044512428"/>
        </bean>
        <bean id="ph2" class="org.sotibob.Phone">
                <property name="mob" value="7064058345"/>
        </bean>
        <bean id="ph3" class="org.sotibob.Phone">
                <property name="mob" value="08039388762"/>
        </bean>
</beans>